<header>
    <div class="view jarallax" style="background-image: url('../../../assets/img/background.jpg'); background-repeat: no-repeat; background-size: cover; background-position: center center;">
        <nav>
            <a class="navbar-brand" href="https://www.netflix.com/">
                <img src="../../../assets/img/Netflix-Logo.png" height="52px" class="align-top text-left" style="margin-left: 60px; margin-top: 2px;">
            </a>
        </nav>
        <div class="mask rgba-black-light d-flex justify-content-center align-items-center">
            <section class="team-section ">

                <div style="padding-bottom: 30px; color:rgba(105, 80, 80, 0.705);border-style: solid; margin-left: auto; margin-right: auto; width: 300px; height: 80px;">
                    <h2 class="h1-responsive font-weight-bold my-5 text-center" style="height: 40px; width: auto; color: rgba(187, 24, 24, 0.705);">
                        <mdb-badge color="black">
                            Who's watching ?
                        </mdb-badge>
                    </h2>
                </div>
                <p class="dark-grey-text w-responsive mx-auto mb-5">
                    <div class="row">

                        <div class="col-md-1" style="margin-left: auto; margin-right: 15px;">
                            <div class="avatar mx-auto">
                                <img src="../../../assets/img/img1.jpeg" class="rounded-circle z-depth-2 img-fluid">
                                <h4 class="font-weight-bold dark-grey-text mt-4 text-center align-items-center justify-content-center">
                                    <a href="/fedi" style="color:wheat;">Fedi Gammoudi</a>
                                </h4>
                            </div>
                        </div>
                        <div class="col-md-1" style="margin-right: 15px;">
                            <div class="avatar mx-auto">
                                <img src="https://mdbootstrap.com/img/Photos/Avatars/img(2).jpg" class="rounded-circle z-depth-1 img-fluid">
                                <h4 class="font-weight-bold dark-grey-text mt-4 text-center">
                                    <a href="/Anna" style="color:wheat;">Anna Deynah</a>
                                </h4>
                            </div>
                        </div>
                        <div class="col-md-1" style="margin-right: 15px;">
                            <div class="avatar mx-auto">
                                <img src="https://mdbootstrap.com/img/Photos/Avatars/img(3).jpg" class="rounded-circle z-depth-1 img-fluid">
                                <h4 class="font-weight-bold dark-grey-text mt-4 text-center">
                                    <a href="/Mohsen" style="color:wheat;"> Mohsen Sessi</a>
                                </h4>
                            </div>
                        </div>
                        <div class="col-md-1" style="margin-right: 15px;">
                            <div class="testimonial">
                                <div class="avatar mx-auto">
                                    <img src="https://mdbootstrap.com/img/Photos/Avatars/img(4).jpg" class="rounded-circle z-depth-1 img-fluid">
                                </div>
                                <h4 class="font-weight-bold dark-grey-text mt-4 text-center">
                                    <a href="/Meriem" style="color:wheat;">Meriem Rebhi</a>
                                </h4>
                            </div>
                        </div>
                        <div class="col-md-1" style="margin-right: 15px;">
                            <div class="testimonial">
                                <div class="avatar mx-auto">
                                    <img src="https://mdbootstrap.com/img/Photos/Avatars/img(9).jpg" class="rounded-circle z-depth-1 img-fluid">
                                </div>
                                <h4 class="font-weight-bold dark-grey-text mt-4 text-center">
                                    <a href="/Mansour" style="color:wheat;">Mansour Djej</a>
                                </h4>
                            </div>
                        </div>
                        <div class="col-md-1" style="margin-right: auto; ">
                            <div class="testimonial">
                                <div class="avatar mx-auto">
                                    <img src="https://mdbootstrap.com/img/Photos/Avatars/img(5).jpg" class="rounded-circle z-depth-1 img-fluid">
                                </div>
                                <h4 class="font-weight-bold dark-grey-text mt-4 text-center">
                                    <a href="/City" style="color:wheat;">City Market</a>
                                </h4>
                            </div>
                        </div>
                    </div>
                    <a style="margin-top: 40px;" href="#" class="button instagram"><span class="gradient"></span>Manage Profiles</a>
            </section>
        </div>
    </div>


</header>